@font-face {
    font-family: 'Thick Boy';
    src: url('../Fonts/thicccboi-regular-webfont.eot');
    src: url('../Fonts/thicccboi-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/thicccboi-regular-webfont.woff2') format('woff2'), url('../Fonts/thicccboi-regular-webfont.woff') format('woff'), url('../Fonts/thicccboi-regular-webfont.ttf') format('truetype'), url('../Fonts/thicccboi-regular-webfont.svg#thicccboiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.Logo {
    margin-inline: auto;
    background-image: url("../Images/KHUMALOLOGO.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



body {
    margin-bottom: 60px;
    font-family: 'Thick Boy';
}
.TLLogo {
    width: 100px;
    height: 80px;
    background-image: url("../Images/KHUMALOLOGO.png");
    background-size: contain;
    background-repeat:no-repeat;

    padding:0;
    margin:0;
}
   
.input-device {
  font-size: 16px;
  color: white;
  background-color: #03045e;
  border-radius: 4px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        #023e8a 0 -3px 0 inset;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  min-height: 36px;
  width: fit-content;
}

.button-1 {
  align-items: center;
  appearance: none;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  text-align: center;
  transition: transform 0.15s;
  padding: 12px;
}

.input-device:hover{
    transform: translateY(-2px);
}

.input-device:active{
  transform: translateY(0px);
}