@{
    ViewData["Title"] = "Contact Us";
}
<style>
    body {
        font-family: 'Thick Boy';
    }
</style>
<body>
<h1>@ViewData["Title"]</h1>

<p>Use any of the following to find out more information about us</p>
    <form action="ContactUs" method="post">
        <p>
            Instagram: &emsp; &commat;Khumalo_Craft<br />Tik Tok: &emsp; &commat;KhumaloCraft2024<br />Email: &emsp; khumalocraft&commat;bing.com<br />WhatsApp: &emsp; 076616318
        </p>
    </form>
</body>
