@model Cloud1.Models.tblUser
@{
    ViewData["Title"] = "About";
}


<h1>About</h1>
<title>"About Khumalo Craft"</title>
<body>
    <form action="About" method="post">
        <input type ="text" name="Name" placeholder="" required >
        <input type="text" name="Surname" placeholder="" required >
        <input type="text" name="Email" placeholder="" required >
        <button type="submit">Submit</button>
    </form>
</body>
