@model st10263992.Models.tblUser
@{
    ViewData["Title"] = "About";
}


<h1>About</h1>
<style>
    body {
        font-family: 'Thick Boy';
    }
</style>
<title>"About Khumalo Craft"</title>
<body>
    <h3>
        Khumalo Craft
    </h3>
    
    <h5>Under the excellent leadership of James Khumalo, KhumaloCraft an e-commerce platform with the mission to become a global platform that will showcase a range of handcrafted products as well as connect other aspiring artisans with a global clientele from all corners of the world. </h5>
    <p>For more information contact us here: <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>.</p>
</body>
