@model Cloud1.Models.tblUser
@{
    ViewData["Title"] = "About";
}


<h1>About</h1>
<style>
    body{
        font-family: 'Thick Boy';
    }
</style>
<title>"About Khumalo Craft"</title>
<body >
    <h3>
        Khumalo Craft
    </h3>
</body>
