@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Khumalo Craft</h1>
    <p>Learn about <a asp-area="" asp-controller="Home" asp-action="ContactUs">building Web apps with ASP.NET Core</a>.</p>
</div>
