@{
    ViewData["Title"] = "Home Page";
}
<style>
    .flag {
        background-image:url("/Images/SA_Flag.gif");
        border-radius: 20px;
        background-position: center;
        backdrop-filter:blur(2px);
        -webkit-backdrop-filter:blur(2px);
        height:inherit;
    }
    h1{
        color:whitesmoke;
    }
    p{
        color:darkgrey;
        font-size:20px;
    }
</style>
<div class="text-center flag">
    <h1 class="display-4">Welcome to Khumalo Craft </h1>
   
    <p>Learn about <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>.</p>
    <hr/>
    <p>
        <h3>
            Here at Khumalo Craft we strive to both make and sell all authentic South African products, from sustainable and natural resources.
            If you or anyone you are interested in what we are selling please feel free to browse our current products here: <a asp-area="" asp-controller="Home" asp-action="My Work">Browse Here</a>.</p>
        </h3>
    </p>
</div>
