@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Khumalo Craft</h1>
    <p>Learn about <a href="https://localhost:7186/Home/About">building Web apps with ASP.NET Core</a>.</p>
</div>
