@{
    ViewData["Title"] = "Home Page";
}
<style>
    .flag {
        background-image: linear-gradient(45deg, #D4d3d0, #C9c9c9);
        padding: 8px;
        border-radius: 20px;
        background-position: center;
        height: inherit;
    }

    h1 {
        color: black;
    }

    p {
        color: darkslategray;
        font-size: 20px;
    }
</style>
<div class="text-center flag">
    <h1 class="display-4">Welcome to Khumalo Craft </h1>

    <p>Learn about KhumaloCraft here: <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>.</p>
    <div class="Logo"></div>

    <hr />
    <p>
    <h3>
        Here at Khumalo Craft we strive to both make and sell all authentic South African products, from sustainable and
        natural resources.
        If you or anyone you are interested in what we are selling please feel free to browse our current products here:
        <a asp-area="" asp-controller="Home" asp-action="MyWorkPage">Browse Here</a>.</p>
    </h3>
    </p>
</div>
