
@{
    ViewData["Title"] = "Login Page";
    }
<style>
    * {
        font-family: 'Thick Boy';
    }
    .text{
       
        font-size:18px;
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .button{
        display: flex;
        gap: 10px;
    }
    input{
        width:200px;
    }
</style>

<h1>If you have an account already please Login otherwise 'Sign up'</h1>
<div class="text"> 
    <input type="email" name="Email" placeholder="Email" required>

    <input type="password" name="Password" placeholder="Password" required>

    <div class="button">
        <a asp-area="" asp-controller="Home" asp-action="Products">
        <button id="btnLoginGo" class="input-device button-1" onclick="btnLoginGo_Click">
            Login
        </button>
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Register">
        <button id="btnRegister" class="input-device button-1" onclick="btnRegister_Click">
            Register
        </button>
        </a>
    </div>
    

</div>
