@{
    ViewData["Title"] = "My Work Page";

}


<style>
    body {
        font-family: 'Comic Sans MS';
    }
    .Img{
        display:flex;
        
    }
    img{
        margin:10px;
        border:none;
    }
    img:hover{
        border:solid;
    }
    h3{
        margin-top:10px;
        text-decoration:none;
    }
    h3:hover{
        text-decoration:underline;
    }
</style>
<body>
    <h1>Items that we sell:</h1>
    <ul>
        <div class="Img" >
            <img src="~/Images/CraftWork1.jpg" width="500"  />
            <h3>African Bowls &emsp; R36</h3>
        </div >
        <div class ="Img">
            <img src="~/Images/CraftWork2.jpg" width="500" />
            <h3>African Dolls &emsp;R100 </h3>
        </div>
        <div class="Img">
            <img src="~/Images/CraftWork3.webp" width="500" />
            <h3>African Crafts &emsp;R200 per item </h3>
        </div>
    </ul>
</body>
