@{
    ViewData["Title"] = "My Work Page";

}


<style>
    body {
        font-family: 'Thick Boy';
    }

    .Image {
        margin: 10px;
        border: none;
        display: flex;
        text-decoration: none;
    }

        .Image:hover {
            text-decoration: underline;
            margin-top: 10px;
            border: solid;
        }
</style>
<body>
    <h1>Items that we sell:</h1>
    <ul>
        <div class="Image">
            <img src="~/Images/CraftWork1.jpg" width="500" />
            <h3>African Bowls &emsp; R36</h3>
        </div>
        <div class="Image">
            <img src="~/Images/CraftWork2.jpg" width="500" />
            <h3>African Dolls &emsp;R100 </h3>
        </div>
        <div class="Image">
            <img src="~/Images/CraftWork3.webp" width="500" />
            <h3>African Crafts &emsp;R200 per item </h3>
        </div>
    </ul>
</body>
