@{
    ViewData["Title"] = "My Work Page";

}


<style>
    body {
        font-family: 'Thick Boy';
    }

    .Image {
        margin: 10px;
        border: none;
        display: flex;
        text-decoration: none;
    }

    .Image:hover {
        text-decoration: underline;
        margin-top: 10px;
        border: solid;
    }

    .text-intro {
        color: whitesmoke;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 12px;
        gap: 80px;
        filter: none;
        -webkit-filter: none;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background {
        @*background-image:linear-gradient(180deg,rgb(183,236,255),rgb(60,248,220));*@background-image: url(https://mrwallpaper.com/images/hd/cosmic-cool-cat-art-zcitxi2ahw6nqm45.jpg);
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    .blur {
        background-color: rgb(255 255 255 / 0%);
        backdrop-filter: blur(10px) -webkit-backdrop-filter: blur(10px);
        height: inherit;
    }
</style>

<body>
    <main class="background">
        <section class="text-intro blur">
            <h1>My Work Page</h1>
            <h1>Your Journey Starts Here...</h1>
            <button id="btnLogin" class="input-device button-1" asp-controller="Home" asp-action="LoginPage">Login
                Here</button>
        </section>
    </main>
</body>
