
@{
    ViewData["Title"] = "My Work Page";
}

<h1>Items that are sold:</h1>

<img src="https://www.crazydomains.com/learn/wp-content/uploads/2021/04/5-eCommerce-Products-To-Sell-in-2021-main-image_728x365.jpg" alt="E-Commerce" />
