@model st10263992.Models.productTbl
@{
    ViewData["Title"] = "Products";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<st10263992.Models.tblProduct>;
    if(userID != null)
    {
        <p>User ID: @userID</p>
    }
    
}

